.chartFilters {
  width: 100%;
  text-align: center;

  .items {
    div {
      display: inline-block;
      margin-right: 1em;
      cursor: pointer;

      &.selected {
        font-weight: bold;
      }
    }
  }
}