//Buttons
.btn {
  position: relative;

  &:hover {
    @include box-shadow($btn-hover-box-shadow);
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
    border-color: transparent;
  }

  &:focus, &.focus {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: transparent;
  }

  @each $color, $value in $theme-colors {
    &.btn-outline-#{$color} {
      color: inherit;
      border-color: $value;
      
      &:hover {
        border-color: $value;
      }

      &:focus, &.focus {
        border-color: $value;
      }
    }
  }
}

// Brand buttons

@each $color, $value in $brand-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

.button-group .btn {
  margin-bottom: 5px;
}

.no-button-group .btn {
  margin-bottom: 5px;
  margin-right: 0px;
}

.btn .text-active {
  display: none;
}

.btn.active .text-active {
  display: inline-block;
}

.btn.active .text {
  display: none;
}
