// Theme colors
#main-wrapper {
  &[data-layout='vertical'],
  &[data-layout='horizontal'] {
    /*This is for the logo bg*/
    .topbar .top-navbar .navbar-header {
      &[data-logobg='skin1'] {
        background-color: $skin1;
        background-image: url('../../../../../images/topbar/bg.png');
        background-repeat: repeat;
      }
    }
    .topbar .navbar-collapse,
    .topbar {
      &[data-navbarbg='skin1'] {
        background-color: $skin1;
        background-image: url('../../../../../images/topbar/bg.png');
        background-repeat: repeat;
      }
    }
  }
}
